@font-face {
	font-family: "Commodore 64";
	src: url("fonts/C64_Pro_Mono-STYLE.woff2") format("woff2");
}

html, body {
	height: 100%;
	width: 100%;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	background: #6c5eb5;
}

* {
	font-family: "Commodore 64", monospace;
	font-size: 22px !important;
	color: #6c5eb5 !important;
	box-sizing: border-box;
}

.screen {
	height: 25ch;
	width: 40ch;
	background: #352879;
	white-space: pre-wrap;
	overflow-y: scroll;
	overflow-x: hidden;
}

.boot {
	display: inline;
	opacity: 0;
	animation: bootUp 1s linear;
	animation-timing-function: steps(3);
	animation-fill-mode: forwards;
}

@keyframes bootUp {
	100% {opacity: 1;}
}

.input {
	display: inline;
	width: 100%;
	padding: 0;
	border: 0;
	outline: 0;
	background: transparent;
	white-space: normal;
}

.typeable {
	outline: none;
	caret-color: transparent;
}

.cursor {animation: blink 0.7s infinite step-start;}

.yes, .no {
	text-decoration: underline;
	cursor: pointer;
}

.dry-particle {
	text-decoration: none;
	pointer-events: none;
}

@keyframes blink {
	50% {opacity: 0;}
}